@import "styles/colors.module";
// input's search
.inputsearch {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    &__input {
        display: flex;
        justify-content: center;
        align-items: center;
      
    }

    &__btn_input {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.041);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-left: 0;
        outline: none;
        padding: 0.35em 0.7em;

    }

    &__inputmenu {

        width:77%;
        padding: 0.7em 1em;
        font-size: 0.9em;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
   
        border: 1px solid rgba(0, 0, 0, 0.041);
        border-right: 0 solid transparent;

    }
    input:focus {
        outline: none;
    }

    &__btnmenu {
        padding: 0.7em 1em;
        border-radius: 20px;
        font-size: 1em;

        border: 1px solid $blueLoyal;
        background-color: $blueLoyal;
        color: white;
        font-weight: bold;

    }

}
@media (min-width: 1281px) and (max-width: 1480px) {

    /* CSS */
    .inputsearch {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;


        &__inputmenu {
            width: 100%;
     

            padding: 0.7em 0;
            font-size: 0.9em;
            border-radius: 20px;

        }
        input:focus {
            outline: none;
        }

        &__btnmenu {
            padding: 0.7em 1em;
            border-radius: 20px;
            font-size: 1em;
            margin-left: 1em;

            border: 1px solid $blueLoyal;
            background-color: $blueLoyal;
            color: white;
            font-weight: bold;

        }

    }

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {

    .inputsearch {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 1em;

        &__inputmenu {
      

        }
        input:focus {
            outline: none;
        }

        input::placeholder {
            font-size: 0.7em;
        }

        &__btnmenu {
            padding: 0.7em;
            border-radius: 20px;
            font-size: 0.8em;

            border: 1px solid $blueLoyal;
            background-color: $blueLoyal;
            color: white;
            font-weight: bold;

        }

    }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (max-width: 768px) {

    /* CSS */
    .containerMenu {
        display: none;
    }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media screen and (max-width: 320px) {
    }
