.search-bar {
  width: 300px;
  height: 50px;
  display: flex;
  position: relative;

  &__input {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    background-color: #F5F9FC;
    width: 80%;
    padding-left: 10px;
    border: none;

    &::placeholder {
      font-weight: 100;
      color: #8080804f;
    }
  }

  .icon-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15%;
    right: 45px;
    background-color: #F5F9FC;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;

    &__search-icon {
      width: 25px;
      right: 10px;
      top: 8px;
      pointer-events: none;
    }
  }
}

/*  color: #8080804f;*/