.card {
  width: 330px;
  height: 440px;
  background-color: white;
  box-shadow: 0px 0px 8px 2px rgba(10, 106, 175, 0.2);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  margin-top: 10px;

  .banner {
    position: relative;
    border-radius: 15px;
    width: 90%;
    height: 153px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__indicator {
      position: absolute;
      top: 15px;
      left: 15px;
      width: 100px;
      font-size: .7rem;
      background-color: #FFE2C1;
      font-weight: 700;
      color: #FEB55E;
      border-radius: 15px;
      padding: 4px;
      text-align: center;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1rem;
    width: 260px;
  }

  &__description {
    width: 260px;
    height: 80px;
    overflow: hidden;
    color: #969BAB;
    font-size: .8rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D53B7;
    font-weight: 600;
    border-radius: 15px;
    color: white;
    width: 90%;
    height: 35px;

    &__text {
      font-size: .8rem;
    }
  }
}

.pusher {
  height: 20px;

  &--m {
    height: 12px;
  }

  &--xl {
    height: 90px;
  }

  &--l {
    height: 30px;
  }
}