.project {
  background-color: #F3F9FD;
}
.project .banner {
  height: 416px;
  background: url("/todelete/project-banner.png") no-repeat;
  background-size: cover;
  color: white;
  position: relative;
}
.project .banner .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 99, 20, 0.4588235294);
}
.project .banner .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project .banner .content__title {
  font-weight: 600;
  font-size: 2.5rem;
}
.project .banner .content .author-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin-top: 10px;
}
.project .banner .content .author-info__picture {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 20px;
}
.project .banner .content .author-info__picture img {
  width: 100%;
}
.project .banner .content .author-info__name {
  font-weight: 400;
  font-size: 0.7rem;
  margin-left: 5px;
  margin-right: 5px;
}
.project .banner .content .author-info__certified {
  width: 25px;
  height: 25px;
  background-color: #1D53B7;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project .banner .content .author-info__certified img {
  width: 50%;
}
.project .banner .content .stats {
  margin-top: 40px;
}
.project .banner .content .actions {
  margin-top: 30px;
}
.project__content {
  width: 70%;
  margin-left: 15%;
}
.project__content .intro {
  margin-top: 50px;
}
.project__content .intro__title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 10px;
}
.project__content .intro__description {
  font-size: 0.8rem;
  font-weight: 400;
  width: 50%;
  margin-top: 35px;
  line-height: 1.7em;
}
.project__content .live-indicator {
  display: flex;
  justify-content: flex-end;
}
.project__content .live-indicator .indicator {
  align-self: flex-start;
  color: white;
  background-color: #1D53B7;
  box-shadow: 0px 0px 27px 4px rgba(29, 83, 183, 0.53);
  width: 150px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__content .live-indicator .indicator__text {
  font-size: 0.8rem;
  font-weight: 700;
}
.project__content .discover-container {
  margin-top: 130px;
  padding-bottom: 130px;
}

.menu-scroll {
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F9FD;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  /* CSS */
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .project {
    background-color: #F3F9FD;
  }
  .project .banner {
    height: 416px;
    background: url("/todelete/project-banner.png") no-repeat;
    background-size: cover;
    color: white;
    position: relative;
  }
  .project .banner .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 99, 20, 0.4588235294);
  }
  .project .banner .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project .banner .content__title {
    font-weight: 600;
    font-size: 2.5rem;
  }
  .project .banner .content .author-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-top: 10px;
  }
  .project .banner .content .author-info__picture {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 20px;
  }
  .project .banner .content .author-info__picture img {
    width: 100%;
  }
  .project .banner .content .author-info__name {
    font-weight: 400;
    font-size: 0.7rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  .project .banner .content .author-info__certified {
    width: 25px;
    height: 25px;
    background-color: #1D53B7;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project .banner .content .author-info__certified img {
    width: 50%;
  }
  .project .banner .content .stats {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .project .banner .content .actions {
    margin-top: 30px;
  }
  .project__content {
    width: 70%;
    margin-left: 15%;
  }
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS */
  .project {
    background-color: #F3F9FD;
  }
  .project .banner {
    height: 416px;
    background: url("/todelete/project-banner.png") no-repeat;
    background-size: cover;
    color: white;
    position: relative;
  }
  .project .banner .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 99, 20, 0.4588235294);
  }
  .project .banner .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project .banner .content__title {
    font-weight: 600;
    font-size: 1.5rem !important;
    margin-top: 2em;
    margin-bottom: 0.5em;
  }
  .project .banner .content .author-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-top: 10px;
  }
  .project .banner .content .author-info__picture {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 20px;
  }
  .project .banner .content .author-info__picture img {
    width: 100%;
  }
  .project .banner .content .author-info__name {
    font-weight: 400;
    font-size: 0.7rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  .project .banner .content .author-info__certified {
    width: 25px;
    height: 25px;
    background-color: #1D53B7;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project .banner .content .author-info__certified img {
    width: 50%;
  }
  .project .banner .content .stats {
    margin-top: 40px;
  }
  .project .banner .content .actions {
    margin-top: 30px;
  }
  .project__content {
    width: 80%;
    margin: 0 auto;
  }
  .project__content .intro {
    margin-top: 50px;
  }
  .project__content .intro__title {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 10px;
  }
  .project__content .intro__description {
    font-size: 0.8rem;
    font-weight: 400;
    width: 100%;
    margin-top: 35px;
  }
  .project__content .live-indicator {
    display: flex;
    justify-content: flex-end;
  }
  .project__content .live-indicator .indicator {
    align-self: flex-start;
    color: white;
    background-color: #1D53B7;
    box-shadow: 0px 0px 27px 4px rgba(29, 83, 183, 0.53);
    width: 150px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project__content .live-indicator .indicator__text {
    font-size: 0.8rem;
    font-weight: 700;
  }
  .project__content .discover-container {
    margin-top: 130px;
    padding-bottom: 130px;
  }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .project .banner {
    height: 416px;
    background: url("/todelete/project-banner.png") no-repeat;
    background-size: cover;
    color: white;
    position: relative;
  }
  .project .banner .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 99, 20, 0.4588235294);
  }
  .project .banner .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project .banner .content__title {
    font-weight: 600;
    font-size: 2.3rem;
    padding: 0 1em;
    text-align: center;
  }
  .project .banner .content .author-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-top: 38px;
  }
  .project .banner .content .author-info__picture {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 20px;
  }
  .project .banner .content .author-info__picture img {
    width: 100%;
  }
  .project .banner .content .author-info__name {
    font-weight: 400;
    font-size: 0.7rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  .project .banner .content .author-info__certified {
    width: 25px;
    height: 25px;
    background-color: #1D53B7;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project .banner .content .author-info__certified img {
    width: 50%;
  }
  .project .banner .content .stats {
    margin-top: 40px;
  }
  .project .banner .content .actions {
    margin-top: 30px;
  }
  .project__content {
    width: 100% !important;
    padding: 0 2em !important;
    margin: 0 !important;
  }
  .project__content .intro {
    margin-top: 50px;
  }
  .project__content .intro__title {
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 10px;
  }
  .project__content .intro__description {
    width: 100%;
  }
  .project__content .discover-container {
    margin-top: 80px;
    padding-bottom: 80px;
  }
  .live-indicator {
    display: flex;
    justify-content: flex-end;
    transform: translateY(-10px);
    z-index: 45454544 !important;
  }
  .live-indicator .indicator {
    align-self: flex-start;
    color: white;
    background-color: #1D53B7;
    box-shadow: 0px 0px 27px 4px rgba(29, 83, 183, 0.53);
    width: 150px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4545454454646546000 !important;
  }
  .live-indicator .indicator__text {
    font-size: 0.8rem;
    font-weight: 700;
  }
}/*# sourceMappingURL=ProjectPage.module.css.map */