.back-connect{
  background-color: rgba(0, 0, 0, 0.422);

  position: fixed;

  z-index: 645454;

  top: 0%;
  left:  0;


  width: 100% !important;

  height:100vh;

  display: flex !important;

  justify-content: center !important;

  align-items: center !important;

  .connect {


    width: 30% !important;

    background-color: white;

    z-index: 51;

    padding: 2em 0em 0 0;

    display: flex;

    flex-direction: column;

    align-items: center;

    margin: 0 !important;

    overflow: hidden;

    gap: 1em;




    &__form {

        input {

            width: 100%;

            border: none;

            background: #F5F9FC;

            border-radius: 50px;

            padding: 10px 12px;

            margin-bottom: 2em;

        }



        p {

           



            font-weight: 700;

            font-size: 12px;

            line-height: 16px;

        }



        button {

            width: 100%;

            background: #1D53B7;

            border-radius: 50px;

            padding: 15px 0;

            color: white;

            font-weight: 700;

            font-size: 14px;

            border: none;

            margin-top: 2em;

        }

    }



    &__band{

        margin-top: 2em;

        /* Text / Gray 200 */

        bottom: 0;

      width: 100vw;

      padding: 1em 0;

      text-align: center;

     background: #EEEFF4;  



     p{

        font-size: 12px;

        font-weight: 700;

        color: #474A57;

        span {



            color: rgba(29, 83, 183, 1);

        }

     }

    }



}
}






/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1280px) and (max-width: 1499px) {
  
    /* CSS */
    .back-connect{

        background-color: rgba(0, 0, 0, 0.422);

        position: fixed;

        z-index: 565765;

        top: 0;

        left: 0;

        width: 100% !important;

        height:100vh;

        display: flex;

        justify-content: center;

        align-items: center;



        .connect{

            position: relative !important;

            width: 35% !important;

        }

    }

      
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
    .back-connect{

        background-color: rgba(0, 0, 0, 0.422);

        position: fixed;

        z-index: 565765;

        top: 0;

        left: 0;

        width: 100% !important;

        height:100vh;

        display: flex;

        justify-content: center;

        align-items: center;



        .connect{

            position: relative !important;

            width: 45% !important;

        }

    }

  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
     /* CSS */
     .back-connect{

        background-color: rgba(0, 0, 0, 0.422);

        position: fixed;

        z-index: 565765;

        top: 0;

        left: 0;

        width: 100% !important;

        height:100vh;

        display: flex;

        justify-content: center;

        align-items: center;



        .connect{

            position: relative !important;

            width: 55% !important;

        }

    }

  }
  
 
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    
    .back-connect{

      background-color: rgba(0, 0, 0, 0.422);

      position: fixed;

      z-index: 565765;

      top: 0;

      left: 0;

      width: 100% !important;

      height:100vh;

      display: flex;

      justify-content:center !important;

      align-items:center !important;

 

      .connect{
       
          position: relative !important;
          overflow-y: scroll;

          width: 80% !important;
          height: 90%;
          padding:1em 1em  0 1em;

      }

  }

    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media screen and (min-width: 320px) and (max-width: 480px) {
    
    .back-connect{

      background-color: rgba(0, 0, 0, 0.422);

      position: fixed;

      z-index: 565765;

      top: 0;

      left: 0;

      width: 100% !important;

      height:100vh;

      display: flex;

      justify-content:flex-start !important;

      align-items:flex-start !important;



      .connect{

          position: relative !important;

          width: 100% !important;
          padding:2em 1em  0 1em;

      }

  }

        
        
  }


