.steps {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__step {
    background-color: #ECF2FF;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    font-weight: 700;
    color: #1D53B7;

    &--selected {
      background-color: #1D53B7;
      color: white;
      animation-name: fill-step;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
  }

  &__line {
    background-color: #ECF2FF;
    width: 120px;
    height: 1.3px;

    &--selected {
      animation-name: fill-step;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes fill-step {
  from {
    background-color: #ECF2FF;
  }

  to {
    background-color: #1D53B7;
  }
}
