.infofooter:nth-child(1){
    display: flex;
    justify-content:flex-start;
    padding-left: 8em;
    width: 45%;
  
    .containerimgFooter{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 2em;
        width: 60%;
     
    }

    ul{
      display: flex;
      justify-content:center;    
      padding: 0; 
      gap: 2em;     

      li{
          list-style: none;

      }
    }
    
}