@import "styles/colors.module";

.main {
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    padding: 1em;
    border-radius: 10px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    border-radius: 33.805px 33.805px 27.044px 20.283px;

    .visible {
        visibility: visible;
    }

    .hidden {
        visibility: hidden;
    }

    &__frontcard {
        display: block;
        h2 {
            font-size: 1.3em;
            margin: 0.1em 0.5em;

        }
        p {
            font-size: 1em;
            color: rgba(150, 155, 171, 1);
            margin: 0.5em;

        }
        .btnprojet:nth-child(1) {
            background-color: $btnblue;
        }

    }

    &__imgProjet {
        width: 95%;
        position: relative;
        color: #FE9A22;
        font-weight: 900;
        margin: 0 auto;

        img {
            width: 100%;
            height: 200px;
            border-radius: 20px;

        }

        &::after {
            content: '600 459 actors';
            position: absolute;
            padding: 0.5em 1em;
            left: 10.85px;
            top: 10.97px;

            background: #FFE3C1;
            border-radius: 20.283px;
        }

    }

    // btn's container

    &__btn {

        display: flex;
        width: 98%;
        justify-content: space-between;
        gap: 0.5em;
        margin: 0.1em 0.5em;

    }

    // back of the card
    &__containerdelete {
        text-align: center;
        padding: 3em 0;
        position: absolute;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        background-color: white;

        h2 {
            font-weight: 700;
            margin-bottom: 1em;
        }

        .btndelete {
            display: flex;
            flex-direction: column;
            button:nth-child(1) {

                padding: 1em;
                border-radius: 50px;
                border: 1px solid transparent;
                background: #FF3A44;
                color: white;
                text-align: center;
                font-weight: bold;
                font-size: 1.2em;
            }
            button:nth-child(2) {

                padding: 1em;
                border-radius: 50px;
                border: 1px solid transparent;
                background: #ffffff;
                color: $btnblue;
                text-align: center;
                font-weight: 800 !important;
                line-height: 20px;
                font-size: 1.2em;
                font-feature-settings: 'liga' off;
                font-style: normal;
            }
        }
    }

}

// btn's

.btnprojet {
    width: 80% !important;
    background-color: $blueLoyal;
    color: aliceblue;
    border-radius: 20px;
    padding: 0.5em;
    display: flex;
    justify-content: center;

}

// btn's 1
.btnprojet:nth-child(1) {

    font-weight: bold;
}

// btn's 2 ,
// btn's 3
.btnprojet:nth-child(2),
.btnprojet:nth-child(3) {
    background-color: rgba(235, 235, 235, 0.76);
}
.btnprojet:nth-child(3) img {
    pointer-events: none;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {

    /* CSS */

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
@media (min-width: 1025px) and (max-width: 1280px) {

    /* CSS */

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) {

    /* CSS */
    @import "styles/colors.module";

    .main {
        border: 1px solid rgba(0, 0, 0, 0);

        padding: 1em;
        border-radius: 10px;
        background-color: white;
        border-radius: 20px;
        position: relative;
        border-radius: 33.805px 33.805px 27.044px 20.283px;

        &__frontcard {
            display: block;
            h2 {
                font-size: 1.2em;
                margin: 0.1em 0.5em;

            }
            p {
                font-size: 0.8em;
                color: rgba(150, 155, 171, 1);
                margin: 1.2em 0.5em;

            }
        }

        // back of the card
        &__containerdelete {
            text-align: center;
            padding: 3em 0;

            background-color: white;

            h2 {
                font-weight: 700;
                font-size: 1em;

            }

            .btndelete {
                display: flex;
                flex-direction: column;
                button:nth-child(1) {

                    padding: 0.7em;
                    border-radius: 50px;
                    border: 1px solid transparent;
                    background: #FF3A44;
                    color: white;
                    text-align: center;
                    font-weight: bold;
                    font-size: 1em;
                }
                button:nth-child(2) {

                    padding: 1em;
                    border-radius: 50px;
                    border: 1px solid transparent;
                    background: #ffffff;
                    color: $btnblue;
                    text-align: center;
                    font-weight: bold;
                    font-size: 1em;

                }
            }
        }

    }

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
@media screen and (min-width: 481px) and (max-width:768px) {

    .main {
        border: 1px solid rgba(0, 0, 0, 0);

        padding: 1em 0.2em !important;
        border-radius: 10px;
        background-color: white;
        border-radius: 20px;
        position: relative;
        border-radius: 33.805px 33.805px 27.044px 20.283px;

        &__frontcard {
            display: block;
            padding: 0 0.5em;
            h2 {
                font-size: 1em;
                margin: 0.1em 0.5em;

            }
            p {
                font-size: 0.7em;
                color: rgba(150, 155, 171, 1);
                margin: 1em 0.5em;

            }
        }

        &__imgProjet {
            width: 95%;
            position: relative;
            color: #FE9A22;
            font-weight: 900;
            margin: 0 auto;

            img {
                width: 100%;
                height: 150px;
                border-radius: 10px;

            }

            &::after {
                content: '600 459 actors';
                position: absolute;
                padding: 0.5em 1em;
                left: 10.85px;
                top: 10.97px;

                background: #FFE3C1;
                border-radius: 20.283px;
            }

        }

        // btn's container

        &__btn {

            display: flex;
            width: 98%;
            justify-content: space-between;
            gap: 0.5em;
            margin: 0.1em 0.5em;

        }

        // back of the card
        &__containerdelete {
            text-align: center;
            padding: 3em 0;

            background-color: white;

            h2 {
                font-weight: 700;
            }

            .btndelete {
                display: flex;
                flex-direction: column;
                button:nth-child(1) {

                    padding: 1em;
                    border-radius: 50px;
                    border: 1px solid transparent;
                    background: #FF3A44;
                    color: white;
                    text-align: center;
                    font-weight: bold;
                    font-size: 1.2em;
                }
                button:nth-child(2) {

                    padding: 1em;
                    border-radius: 50px;
                    border: 1px solid transparent;
                    background: #ffffff;
                    color: rgb(10, 10, 10);
                    text-align: center;
                    font-weight: bold;
                    font-size: 1.2em;
                }
            }
        }

    }

    // btn's

    .btnprojet {
        width: 80% !important;
        background-color: $blueLoyal;
        color: aliceblue;
        border-radius: 20px;
        padding: 0.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7em;

    }

    // btn's 1
    .btnprojet:nth-child(1) {

        font-weight: bold;
    }

    // btn's 2 ,
    // btn's 3
    .btnprojet:nth-child(2),
    .btnprojet:nth-child(3) {
        background-color: rgba(235, 235, 235, 0.76);
    }
    .btnprojet:nth-child(3) img {
        pointer-events: none;
    }

}
@media (max-width: 481px) {

    /* CSS */

    .main {
        border: 1px solid rgba(0, 0, 0, 0);

        padding: 1em 0.5em;
        border-radius: 10px;
        background-color: white;
        border-radius: 20px;
        position: relative;
        border-radius: 33.805px 33.805px 27.044px 20.283px;

        &__frontcard {
            display: block;
            h2 {
                font-size: 1.3em;
                margin: 0.1em 0.5em;

            }
            p {
                font-size: 0.8em;
                color: rgba(150, 155, 171, 1);
                margin: 1.5em 0.5em;

            }
        }

        &__imgProjet {
            width: 95%;
            position: relative;
            color: #FE9A22;
            font-weight: 900;
            margin: 0 auto;

            img {
                width: 100%;
                height: 200px;
                border-radius: 20px;

            }

            &::after {
                content: '600 459 actors';
                position: absolute;
                padding: 0.5em 1em;
                left: 10.85px;
                top: 10.97px;

                background: #FFE3C1;
                border-radius: 20.283px;
            }

        }

        // btn's container

        &__btn {

            display: flex;
            width: 98%;
            justify-content: space-between;
            gap: 0.5em;
            margin: 0.1em 0.5em;

        }

        // back of the card
        &__containerdelete {
            text-align: center;
            padding: 3em 0;

            background-color: white;

            h2 {
                font-weight: 700;
                font-size: 1.2em;
            }

            .btndelete {
                display: flex;
                flex-direction: column;
                button:nth-child(1) {

                    padding: 0.8em;
                    border-radius: 50px;
                    border: 1px solid transparent;
                    background: #FF3A44;
                    color: white;
                    text-align: center;
                    font-weight: bold;
                    font-size: 1em;
                    width: 90%;
                    margin: 0.5em auto 0;
                }
                button:nth-child(2) {

                    padding: 1em;
                    border-radius: 50px;
                    border: 1px solid transparent;
                    background: #ffffff;
                    color: $btnblue;
                    text-align: center;
                    font-weight: bold;
                    font-size: 1em;
                }
            }
        }

    }

    // btn's

    .btnprojet {
        width: 80% !important;
        background-color: $blueLoyal;
        color: aliceblue;
        border-radius: 20px;
        padding: 0.5em;
        display: flex;
        justify-content: center;

    }

    // btn's 1
    .btnprojet:nth-child(1) {

        font-weight: bold;
    }

    // btn's 2 ,
    // btn's 3
    .btnprojet:nth-child(2),
    .btnprojet:nth-child(3) {
        background-color: rgba(235, 235, 235, 0.76);
    }
    .btnprojet:nth-child(3) img {
        pointer-events: none;
    }

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media screen and (max-width: 320px) {
    }
