.media {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: black;
  border-radius: 15px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50%;
  }

  &--activated {
    border: 5px solid #1D53B7;
  }
}