.content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-weight: 700;
    font-size: 4rem;
    text-align: center;

    span {
      margin-top: -25px;
      display: block;
    }
  }

  &__subtitle {
    font-weight: 500;
    text-align: center;
    color: #1D53B7;
    margin-top: 1rem;
  }

  .button {
    border: 1px solid transparent;
    padding: 1.6rem 2rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #1D53B7;
    margin-top: 1rem;
  
    &__text {
      color: white;
      font-weight: 600;
      font-size: 1.3rem;
    }
  }

  .pick-continent {
    margin-top: 60px;
    color: #1D53B7;
    font-size: 1.2rem;
    font-weight: 800;
  }

  .map {
    margin-top: 40px;
    background: #F3F9FD url("/images/frame.png") no-repeat center;
    background-size: 95%;
    width: 100%;
    height: 650px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.pusher {
  height: 30px;

  &--xl {
    height: 90px;
  }

  &--l {
    height: 60px;
  }
}


// mediaqueries



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px)  {
  
  /* CSS */
  .content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__subtitle {
      font-weight: 700;
      text-align: center;
      color: #1D53B7;
      margin-top: 1rem;
      font-size: 1em;
      width: 72%;
      text-align: center;
    }


    &__title {
      font-weight: 700;
      font-size: 3rem;
      text-align: center;
      line-height: 2em;
  
      span {
        margin-top: -25px;
        display: block;
      }
    }


    .pick-continent {
      margin-top: 17px;
      color: #1D53B7;
      font-size: 1.2rem;
      font-weight: 800;
    }

     .cont-button{
      position: absolute;
      bottom: 350px;
      width: 100vw;
      height: 100PX;
      background-color: #ffffff;
      z-index: 52;
      display: flex;
      justify-content: center;
      align-items: center;
     }
  .button {
    bottom: 300px;
    border: 1px solid transparent;
    padding: 2.4rem 8rem;
    height: 50px;

    background: #1D53B7;
    border-radius: 50px;
    margin-top: 0em;
z-index: 4445454;
    &__text {
      color: white;
      font-weight: 600;
      font-size: 1.3rem;

    }
  }



  }


  .map {
    margin-top: 44px !important;
    background: #F3F9FD url("/images/frame") no-repeat center;
    background-size: 100% !important;
    width: 100%;
    height: 357px !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }


  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px

*/

@media screen and (min-width:481px) and ( max-width: 700px){
  .content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__subtitle {
      font-weight: 700;
      text-align: center;
      color: #1D53B7;
      margin-top: 1rem;
      font-size: 1em;
      width: 90%;
      text-align: center;
    }


    &__title {
      font-weight: 700;
      font-size: 3rem;
      text-align: center;
      line-height: 2em;
  
      span {
        margin-top: -25px;
        display: block;
      }
    }


    .pick-continent {
      margin-top: 17px;
      color: #1D53B7;
      font-size: 1.2rem;
      font-weight: 800;
    }

     .cont-button{
      position: absolute;
      bottom: 350px;
      width: 100vw;
      height: 100PX;
      background-color: #ffffff;
      z-index: 52;
      display: flex;
      justify-content: center;
      align-items: center;
     }
  .button {
    bottom: 300px;
    border: 1px solid transparent;
    padding: 2.6rem 8rem;
    height: 50px;

    background: #1D53B7;
    border-radius: 50px;
    margin-top: 0em;
z-index: 4445454;
    &__text {
      color: white;
      font-weight: 600;
      font-size: 1.3rem;

    }
  }



  }


  .map {
    margin-top: 0px !important;
    background: #F3F9FD url("/images/frame") no-repeat center;
    background-size: 93% !important;
    width: 100%;
    height: 262px !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}


@media screen and (max-width: 481px)  {
  
  /* CSS */
  .content {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__subtitle {
      font-weight: 700;
     text-align: center;
      color: #1D53B7;
      margin-top: 1rem;
      font-size: 1em;
      width: 100%;
      text-align: center;
    }


    &__title {
      font-weight: 700;
      font-size: 2.5rem;
      text-align: center;
      line-height: 2em;
  
      span {
        margin-top: -25px;
        display: block;
      }
    }
  }

 

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media screen and (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  .content {
    .map{
        background-size: 100%;
      }
    }

    .map {
      margin-top: 60px;
      background: #F3F9FD url("/images/frame") no-repeat center;
      background-size: 80%;
      width: 100%;
      height: 222px !important;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  
    .button {
      bottom: 300px;
      border: 1px solid transparent;
      padding: 1.8rem 6rem !important;
      height: 50px;
  
      background: #1D53B7;
            border-radius: 50px;
      margin-top: 0em !important;
  z-index: 4445454;
      &__text {
        color: white;
        font-weight: 600;
        font-size: .8rem !important;
      }
 
      z-index: 45454545;
    }
       
    .cont-button{
      position: absolute !important;
      bottom: 350px !important;
      width: 100vw !important;
      height: 100PX;
      background-color: #ffffff;
      z-index: 52;
      display: flex;
      justify-content: center;
      align-items: center;
     }
  
  
  
}