.container {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 0 1em 0 0;
  gap: 1EM;
  padding: 1em 0;
}

.grid .frontcard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  padding: 2em .5em;
  border-radius: 33.805px 33.805px 27.044px 20.283px;
}

.cont-text h2 {
  font-size: 1.1em;
  margin-left: .5em;
}

.cont-text p {
  font-size: 1em;
  color: #969bab;
  margin: .5em .5em;
}

.btn {
  width: 98%;
  margin: 0 auto;
  gap: .5em;
}

.btnprojet {
  width: 100% !important;
  background-color: blue;
  color: aliceblue;
  border-radius: 20px;
  padding: .5em .5em;
  display: flex;
  justify-content: center;
}

.btnprojet:nth-child(1) {
  font-weight: bold;
}

.btnprojet:nth-child(2), .btnprojet:nth-child(3) {
  background-color: rgba(235, 235, 235, 0.76);
}

.btnprojet:nth-child(3) img {
  pointer-events: none;
}

.imgProjet {
  width: 95%;
  position: relative;
  color: #FE9A22;
  font-weight: 900;
  margin: 0 auto;
}

.imgProjet img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}

.imgProjet::after {
  content: '600 459 actors';
  position: absolute;
  padding: .5em 1em;
  left: 10.85px;
  top: 10.97px;
  background: #FFE3C1;
  border-radius: 20.283px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  /* CSS */
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    width: 95%;
    margin: 0 1em 0 0;
    gap: 1EM;
    padding: 1em 0;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 93%;
    margin: 3em auto;
    gap: 1EM;
    padding: 1em 0;
  }
  .grid .frontcard {
    display: block;
    background-color: white;
    padding: 2em .5em;
    border-radius: 33.805px 33.805px 27.044px 20.283px;
  }
  .grid .frontcard h2 {
    font-size: 1em;
    margin-left: .5em;
  }
  .grid .frontcard p {
    font-size: .8em;
    color: #969bab;
    margin: .5em .5em;
  }
  .btn {
    width: 98%;
    margin: 0 auto;
    gap: .5em;
  }
  .btnprojet {
    width: 100% !important;
    background-color: blue;
    color: aliceblue;
    border-radius: 20px;
    padding: .5em .5em;
    display: flex;
    justify-content: center;
  }
  .btnprojet:nth-child(1) {
    font-weight: bold;
  }
  .btnprojet:nth-child(2), .btnprojet:nth-child(3) {
    background-color: rgba(235, 235, 235, 0.76);
  }
  .btnprojet:nth-child(3) img {
    pointer-events: none;
  }
  .imgProjet {
    width: 95%;
    position: relative;
    color: #FE9A22;
    font-weight: 900;
    margin: 0 auto;
  }
  .imgProjet img {
    width: 100%;
    height: 150px;
    border-radius: 20px;
  }
  .imgProjet::after {
    content: '600 459 actors';
    position: absolute;
    padding: .5em 1em;
    left: 10.85px;
    top: 10.97px;
    background: #FFE3C1;
    border-radius: 20.283px;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media screen and (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .container {
    width: 100%;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin: 3em auto;
    gap: 1EM;
    padding: 1em 0;
  }
  .grid .frontcard {
    display: block;
    background-color: white;
    padding: 2em .5em;
    border-radius: 33.805px 33.805px 27.044px 20.283px;
  }
  .grid .frontcard h2 {
    font-size: 1.3em;
    margin-left: .5em;
  }
  .grid .frontcard p {
    font-size: 1em;
    color: #969bab;
    margin: .5em .5em;
  }
  .btn {
    width: 98%;
    margin: 0 auto;
    gap: .5em;
  }
  .btnprojet {
    width: 100% !important;
    background-color: blue;
    color: aliceblue;
    border-radius: 20px;
    padding: .5em .5em;
    display: flex;
    justify-content: center;
  }
  .btnprojet:nth-child(1) {
    font-weight: bold;
  }
  .btnprojet:nth-child(2), .btnprojet:nth-child(3) {
    background-color: rgba(235, 235, 235, 0.76);
  }
  .btnprojet:nth-child(3) img {
    pointer-events: none;
  }
  .imgProjet {
    width: 95%;
    position: relative;
    color: #FE9A22;
    font-weight: 900;
    margin: 0 auto;
  }
  .imgProjet img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
  }
  .imgProjet::after {
    content: '600 459 actors';
    position: absolute;
    padding: .5em 1em;
    left: 10.85px;
    top: 10.97px;
    background: #FFE3C1;
    border-radius: 20.283px;
  }
}
/*# sourceMappingURL=cardSoutien.module.css.map */