@import "styles/colors.module";


.containerMenu{
  position: relative;
    width: 100%;
    padding: 1em 0;
    display: flex;
    background-color: rgb(255, 255, 255);

    div{
        width: 100%;
    }
  
// logo's menu
  &__logo{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;


 }


// item'smenu
  &__itemmenu{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 
  ul{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 90%;
  }
  
  li{
      list-style: none;
      font-weight: bolder;
       display: flex;
       
       a{
         text-decoration: none;
         color: black ;
       }
      img{
        transform: translateY(1px) translateX(2px);
      }
  }

 }

}




/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  .containerMenu{
    &__item{
      width: 60%;
    }
    div{
      &:nth-child(1){
        width: 80%;
      }
    }

    &__itemmenu{
      
  ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
 }
    }
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 850px) and (max-width: 1024px) {
  
  /* CSS */
  .containerMenu{
    width: 100%;
    padding: 2em 0;
    display: flex !important;
    background-color: rgb(255, 255, 255);

    div{
        width: 100%;
    }
  
// logo's menu
  &__logo{
  width: 40% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .logoImage{
    width: 46% !important;
  }

 }


// item'smenu
  &__itemmenu{
  width: 80% !important;
  display: flex;
  align-items: center;
  justify-content: center;
 
  ul{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     margin-left: 2em;
  }
  
  li{
      list-style: none;
      font-weight: bolder;
       display: flex;
       
       a{
        font-size: .8em;
         text-decoration: none;
         color: black ;
       }
      img{
        transform: translateY(1px) translateX(2px);
      }
  }

 }

}

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 958px){
  
  /* CSS */
  .containerMenu{
    display: none;
  }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media screen and (max-width: 320px)  {
  

}
