@import "styles/colors.module";


 .containervolet{
     border: 1px solid rgba(0, 0, 0, 0);
     width: 350px;

     margin-top: 2em;
     margin-left: 2em;
     background-color: white;
     border-radius: 10px;
     z-index: 5;
     padding: 0em 0em;
     height: 470px;
     
    .projetsection,.Estandsection,.solutionSection,.infoSection,.deconnecterSection{
        cursor: pointer;
        // color: $primaryblue;
        color: $btnblue;
         position: relative;
         z-index: 1;
         font-size: 0.8em;
         margin: 1.5em 0;
    
    }

    .projetsection:after,.Estandsection:after,.solutionSection:after,.infoSection:after,.deconnecterSection:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 115%;
        z-index: -1;
        
    }
    .projetsection:hover::after,.Estandsection:hover::after,.solutionSection:hover::after,.infoSection:hover::after,.deconnecterSection:hover::after{
        // background-color: $primaryblue;
        background-color: $blueLoyal;

        z-index: -1;

    } 
    .projetsection:hover,.Estandsection:hover,.solutionSection:hover,.infoSection:hover,.deconnecterSection:hover{
        color:white;
        z-index: 44;
    }
     .imageprojet{
           width: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
           padding: 1em 0;
        img{
            width: 60%;
            height: 150px;
            border-radius: 50%;
            filter: contrast(120%);

        }
     }


    .projetsection{
   padding: .2em 0;
   position: relative;
   padding-left : 2em; 

   ::after{
       content: '';
       position: absolute;
       bottom: -10px;
       left: 6%;
    //    background-color: $primaryblue;
    background-color: $blueNight;
       opacity: 0.5;
       width: 80%;
       height: 1px;
   }

    
    }

    .Estandsection{
padding: .2em 0;
   position: relative;
   padding-left : 2em; 
  ::after{
       content: '';
       position: absolute;
       bottom: -10px;
       left: 6%;
       background-color: $blueNight;
       opacity: 0.5;
       width: 80%;
       height: 1px;
   }
    }

    .solutionSection{
padding: .2em 0;
   position: relative;
   padding-left : 2em; 
  ::after{
       content: '';
       position: absolute;
       bottom: -10px;
       left: 6%;
       background-color: $blueNight;
       opacity: 0.5;
       width: 80%;
       height: 1px;
   }
    }

    .infoSection{
padding: .2em 0;
   position: relative;
   padding-left : 2em; 
  ::after{
       content: '';
       position: absolute;
       bottom: -10px;
       left: 6%;
       background-color: $blueNight;
       opacity: 0.2;
       width: 80%;
       height: 1px;
   }
    }
    

    .deconnecterSection{
padding: .2em 0;
   position: relative;
   padding-left : 2em; 
 
    }



 }