.stats {
  display: flex;
  justify-content: center;

  .stat {
    width: 200px;
    height: 80px;

    .number {
      position: relative;
      text-align: center;

      &__bullet {
        position: absolute;
        width: 10px;
        height: 10px;
        background: red;
        right: 20px;
        border-radius: 20px;
      }

      &__value {
        font-weight: 700;
        font-size: 2rem;
      }
    }

    &__title {
      font-weight: 500;
      font-size: .8rem;
      text-align: center;
    }
  }
}