
@import "../../styles/colors.module.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');


.containerprojet{
 width: 100%;
    h1{
        font-size: 4em;
        margin: -.2em 0 1em 0;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
font-weight: 800;
line-height: 64px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    }
   

    .h4compte{
        display: flex;
        align-items: center;
        margin: 1em 0;

        span{
            width: 100px;
            height: 3px;
            background-color:$blueLoyal;
            // $primaryblue
            margin: 0 1em 0 0;
        }

        h3{
            // color: $primaryblue;*
            color: $blueLoyal;
        }
    }
 
}


.containerCard{
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap :1em;
    padding-right: 4em;
    margin-bottom: 4rem;
}





/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

// @media (min-width: 1281px) {
  
//     /* CSS */
    
//   }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media screen and (min-width: 1080px) and (max-width: 1350px) {
    
    /* CSS */
    .containerCard{
      margin: 3em auto !important;
      width:90% !important;
      display: grid;
      grid-template-columns: repeat(2,1fr) !important;
      gap :1em;
      padding-right: 0em !important;
      margin-bottom: 4rem;
  
  
   }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

  @media screen and  (min-width: 768px) and (max-width: 1024px)  {
    
    /* CSS */
    .containerprojet{
    width: 100%;
    h1{
    font-size: 3em !important;
     }
          }
    .containerCard{
      margin: 3em 0 !important;
      width:98% !important;
      display: grid;
      grid-template-columns: repeat(2,1fr) !important;
      gap :1em;
      padding-right: 0em !important;
      margin-bottom: 4rem;
  
  
   }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media screen and ( min-width:481px) and (max-width:768px) {
    .containerCard{
      margin: 3em auto !important;
      width:90% !important;
      display: grid;
      grid-template-columns: repeat(2,1fr) !important;
      gap :1em;
      padding-right: 0em !important;
      margin-bottom: 4rem;
  
  
   }
  }
  @media screen and (max-width: 481px)  {
    
    /* CSS */
    .containerprojet{
      h1{
          display: none !important;
    
      }
  
      
  .h4compte{
      display: none !important;
      h3{
      display: none !important;
      }
   }
         
     }
  
   
    
      
  .voletcontainer{
      width:40%;
      display: flex;
      justify-content:flex-end;
      margin-right:4em ;
      display: NONE;
    
    
    }
  
  
    
  .containerCard{
      margin: 3em auto !important;
      width:90% !important;
      display: grid;
      grid-template-columns: repeat(1,1fr) !important;
      gap :1em;
      padding-right: 0em !important;
      margin-bottom: 4rem;
  
  
   }
  

  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media screen and (min-width: 320px) and (max-width: 480px){
  
    /* CSS */
  .containerprojet{
    h1{
        display: none !important;
  
    }

    
.h4compte{
    display: none !important;
    h3{
    display: none !important;
    }
 }
       
   }

 
  
    
.voletcontainer{
    width:40%;
    display: flex;
    justify-content:flex-end;
    margin-right:4em ;
    display: NONE;
  
  
  }


  
.containerCard{
    margin: 3em auto !important;
    width: 90% !important;
    display: grid;
    grid-template-columns: repeat(1,1fr) !important;
    gap :1em;
    padding-right: 0em !important;
    margin-bottom: 4rem;


 }
}