@import "styles/colors.module";

.item {
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: .4em 0;
  transition:  1s ease;

  &--europe {
    background-color: $orangeSalmon;
    border: 1px solid transparent;
    color: $orangeStrong;
  }

  &--africa {
    background-color: $greenLuok;
    border: 1px solid $greenApple;
    color: $greenApple;

    .item__img {
      width: 50px;
    }
  }

  &--northus {
    background-color: $purpleLight;
    border: 1px solid $purpleBayleen;
    color: $purpleBayleen;
  }

  &--southamerica {
    background-color: $blueLightyMick;
    border: 1px solid $blueNight;
    color: $blueNight;

    .item__img {
      width: 32px !important;
      margin: 0 !important;
    }
  }

  &--asia {
    background-color: $roseBailame;
    border: 1px solid $roseSlight;
    color: $roseSlight;
  }

  &--oceania {
    background-color: $yellowJuyli;
    border: 1px solid $yellowBoon;
    color: $yellowBoon;
  }
  &--white-back{
   background-color: white;
   border: 1px solid #BBCBE9;
  }

  &__img {
    width: 50px;
    pointer-events: none;
    
    img {
      width: 100%;
      pointer-events: none;


    }
  }

  &__title {
    pointer-events: none;

    font-size: .7rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
  }
  

}


@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
 
  .item {
    width: 75px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .8em;
    border-radius: 10px;
    margin: 0 .4em;
  
    &--europe {
      background-color: $orangeSalmon;
      border: 1px solid   transparent;
           color: $orangeStrong;
    
    }
  
    &--africa {
      background-color: $greenLuok;
      border: 1px solid $greenApple;
      color: $greenApple;
  
      .item__img {
        width: 50px;
      }
    }
  
    &--northus {
      background-color: $purpleLight;
    border: 1px solid $purpleBayleen;
    color: $purpleBayleen;
      padding: .5em;
      .item__img {
        width: 82px !important;
      }

      .item__title {
        font-size: .5em !important;
      }
      color: $purpleBayleen;
    }
  
    &--southamerica {
      background-color: $blueLightyMick;
      border: 1px solid $blueNight;
      color: $blueNight;
  
         .item__img {
          width: 38px !important;
        }
  
        .item__title {
          font-size: .5em !important;
        }
    }
  
    &--asia {
      background-color: $roseBailame;
      border: 1px solid $roseSlight;
      color: $roseSlight;
    }
  
    &--oceania {
      background-color: $yellowJuyli;
      border: 1px solid $yellowBoon;
      color: $yellowBoon;
    }

 
  
    &__img {
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      img {
        width: 80%;
  
      }
    }
  
    &__title {
      font-size: .7rem;
      font-weight: 600;
      letter-spacing: 2px;
      text-align: center;
      margin-top: .5em;
    }
    &__back{
      background-color: white !important;
      border: none !important;
      color: black !important;
      padding: .7em;
      font-size: .5em;
     
    }
  }


}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/


@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */

  .menu{
    display: none !important;
  }

  .item {
    width: 55px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    margin: 0 .4em;
  
    &--europe {
      background-color: $orangeSalmon;
      border: 1px solid   transparent;
           color: $orangeStrong;
    }
  
    &--africa {
      background-color: $greenLuok;
      border: 1px solid  $greenApple;
      color: $greenApple;
  
      .item__img {
        width: 50px;
      }
    }
  
    &--northus {
      background-color: $purpleLight;
    border: 1px solid $purpleBayleen;
    color: $purpleBayleen;
      padding: .5em;
      .item__img {
        width: 72px !important;
      }

      .item__title {
        font-size: .4em !important;
      }
      color: $purpleBayleen;
    }
  
    &--southamerica {
      background-color: $blueLightyMick;
      border: 1px solid $blueNight;
      color: $blueNight;
         padding: .7em;
  
         .item__img {
          width: 28px !important;
        }
  
        .item__title {
          font-size: .4em !important;
        }
    }
  
    &--asia {
      background-color: $roseBailame;
      border: 1px solid $roseSlight;
      color: $roseSlight;
    }
  
    &--oceania {
      background-color: $yellowJuyli;
      border: 1px solid $yellowBoon;
      color: $yellowBoon;
    }
  
    &__img {
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      img {
        width: 60%;
  
      }
    }
  
    &__title {
      font-size: .5rem;
      font-weight: 600;
      letter-spacing: 2px;
      text-align: center;
      margin-top: .5em;
    }
  }
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media screen and (min-width: 320px) and (max-width: 480px) {

  /* CSS */
  .item {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 .4em;
    
  
    &--europe {
      background-color: $orangeSalmon;
      border: 1px solid   transparent;
           color: $orangeStrong;
    }
  
    &--africa {
      background-color: $greenLuok;
      border: 1px solid $greenApple;
      color: $greenApple;
         padding: 0 .5em;
      .item__img {
        width: 50px;
      }
   
    }
  
    &--northus {
      background-color: $purpleLight;
      border: 1px solid $purpleBayleen;
      color: $purpleBayleen;
      padding: 0 .5em;

      .item__img {
        width: 92px !important;
      }

      .item__title {
        font-size: .3em !important;
      }
    }
  
    &--southamerica {
      background-color: $blueLightyMick;
      border: 1px solid $blueNight;
      color: $blueNight;
      padding: 0 .5em;
      .item__img {
        width: 42px !important;
      }

      .item__title {
        font-size: .3em;
      }
    }
    &--white-back{
      background-color: white;
      border: 1px solid black;
     }
   
    &--asia {
      background-color: $roseBailame;
      border: 1px solid $roseSlight;
      color: $roseSlight;
    }
  
    &--oceania {
      background-color: $yellowJuyli;
      border: 1px solid $yellowBoon;
      color: $yellowBoon;
    }
  
    &__img {
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;

      img {
        width: 39%;
      }
    }
  
    &__title {
      margin-top: .5em;
      font-size: .4rem;
      font-weight: 600;
      letter-spacing: .5px;
      text-align: center;
      pointer-events: none;

    }
  }
  
  


}