
.form-container1 {
    //border: 1px solid;
    width: 80%;
    margin-left: 10%;
    display: flex;

    &__step {
        font-size: 1rem;
        font-weight: 700;
        color: rgb(15, 15, 15);
        margin-top: 60px;
        display: flex;
        flex-direction: column;
    }

    &__textarea {
        margin-top: 15px;
        background-color: #F3F9FD;
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 200px;
        resize: vertical;
        padding: 20px;

        &::placeholder {
            font-size: 1rem;
            font-weight: 700;
            color: #969BAB;
            font-family: 'Poppins';
        }
    }

}

.files {
    position: relative;
    border-radius: 10px;
    background-color: #F3F9FD;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__input {
        opacity: 0.0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    &__icon {
        width: 40px;
    }

    &__text {
        width: 200px;
        text-align: center;
        font-weight: 600;
        color: #1D53B7;
        margin-top: 15px;
    }
}

.step-grid {
    width: 50%;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(5,1fr);

}
.step-item {
    width: 150px;
    height: 100px;

    img {
        border-radius: 10px;

        width: 150px;
        height: 100%;
    }
}

.add-text {
    font-size: 1rem;
    margin: 2em 0;
}

.input-file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F9FC;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    &__input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}


  @media screen and (min-width: 769px) and (max-width: 1350px) {
      
  
    .step-grid {
        width: 90%;
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(4,1fr);
    
    }
  
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media screen and ( min-width:481px) and (max-width:768px) {
  
    .form-container1 {
        //border: 1px solid;
        width: 80%;
        margin-left: 10%;
        display: flex;
    
        &__step {
            font-size: 1rem;
            font-weight: 700;
            color: rgb(15, 15, 15);
            margin-top: 60px;
            display: flex;
            flex-direction: column;
        }
    
        &__textarea {
            margin-top: 15px;
            background-color: #F3F9FD;
            border: none;
            border-radius: 10px;
            width: 100%;
            height: 200px;
            resize: vertical;
            padding: 20px;
    
            &::placeholder {
                font-size: 1rem;
                font-weight: 700;
                color: #969BAB;
                font-family: 'Poppins';
            }
        }
    
    }
    .step-grid {
        width: 90%;
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3,1fr);
    
    }
   
  }
  
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media screen and (min-width: 320px) and (max-width: 480px){
   
.form-container1 {
    //border: 1px solid;
    width: 80%;
    margin-left: 10%;
    display: flex;

    &__step {
        font-size: 1rem;
        font-weight: 700;
        color: rgb(15, 15, 15);
        margin-top: 60px;
        display: flex;
        flex-direction: column;
    }

    &__textarea {
        margin-top: 15px;
        background-color: #F3F9FD;
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 200px;
        resize: vertical;
        padding: 20px;

        &::placeholder {
            font-size: 1rem;
            font-weight: 700;
            color: #969BAB;
            font-family: 'Poppins';
        }
    }

}

.files {
    position: relative;
    border-radius: 10px;
    background-color: #F3F9FD;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__input {
        opacity: 0.0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    &__icon {
        width: 40px;
    }

    &__text {
        width: 200px;
        text-align: center;
        font-weight: 600;
        color: #1D53B7;
        margin-top: 15px;
    }
}

.step-grid {
    width: 90%;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3,1fr);

}
.step-item {
    width: 90px;
    height: 70px;

    img {
        border-radius: 10px;

        width: 100%;
        height: 100%;
    }
}

.add-text {
    font-size: 1rem;
    margin: 2em 0;
}

.input-file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F9FC;
    border-radius: 10px;
    width: 90px;
    height: 70px;
    &__input {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

    }
    
    
  