$blueLoyal: #0A6AAF;
$whiteParamount: #FFFF;

$orangeSalmon: #FFE2C1;
$orangeStrong: #F49D3B;

$greenApple: #6ACB11;
$greenLuok: #6ACB1152;

$purpleLight: #6F63E357;
$purpleBayleen: #6F63E3;

$blueNight: #0A6AAF;
$blueLightyMick: #0A6AAF61;

$roseSlight: #F5A2DA;
$roseBailame: #F5A2dA70;

$yellowBoon: #FFE702;
$yellowJuyli: #FFE70240;